<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Salesforce Lightning Design System Starter Kit</title>
  <link rel="icon" type="image/png" href="/favicon.png" />
  <meta name="robots" content="noindex, nofollow" />

  <!-- Prototype styles -->
  <link rel="stylesheet" href="/styles/index.css" />
</head>
<body>
  <div class="slds-p-around--large slds-container--center slds-container--medium">
    <h1 class="slds-text-heading--large slds-m-bottom_medium">
      Rapid Prototyping with the Design System Starter Kit
    </h1>

    <center>
      <img src="/assets/img-efficiency.svg" alt="" />
    </center>

    <p class="slds-text-body--regular slds-m-vertical--large">
      Start making Lightning prototypes quickly with the Lightning Design System Starter Kit. We'll start with a design created with the Lightning Design System, and then we'll do some hands-on coding to prototype and iterate on our pages without even leaving the browser (Chrome or Firefox required). Bonus: We have a sneak preview of a new developer tool that helps you validate your markup and CSS for SLDS usage and accessibility requirements!
    </p>
    <dl class="slds-dl_horizontal">
      <dt class="slds-dl_horizontal__label">Activity Type:</dt>
        <dd class="slds-dl_horizontal__detail">Hands-On Workshop</dd>
      <dt class="slds-dl_horizontal__label">Time:</dt>
        <dd class="slds-dl_horizontal__detail">June 28, 2017 @ 12:15pm (90 minutes) </dd>
      <dt class="slds-dl_horizontal__label">Room:</dt>
        <dd class="slds-dl_horizontal__detail">Foothill Workshop</dd>
      <dt class="slds-dl_horizontal__label">Theme:</dt>
        <dd class="slds-dl_horizontal__detail">Developer Experience, User Interface</dd>
      <dt class="slds-dl_horizontal__label">Role:</dt>
        <dd class="slds-dl_horizontal__detail">Developer, Salesforce Admin</dd>
      <dt class="slds-dl_horizontal__label">Product:</dt>
        <dd class="slds-dl_horizontal__detail">Force.com, Lightning</dd>
    </dl>

    <h2 class="slds-text-heading--medium slds-m-top--large">What You’ll Learn</h2>
    <p class="slds-text-body--regular slds-m-top--large">By the end of this workshop, you’ll know how to:</p>
    <div class="slds-text-longform">
      <ol>
        <li>Create a prototype of your idea using the Lightning Design System.</li>
        <li>Iterate on that prototype directly in the browser.</li>
        <li>Create a prototype of your idea using the Lightning Design System.</li>
        <li>Deploy the result for free to Heroku in a few clicks!</li>
      </ol>
    </div>
    <p>In a nutshell: getting high definition concepts in front of stakeholders and customers at minimum cost.</p>

    <h2 class="slds-text-heading--medium slds-m-top--large">Prerequisites</h2>
     <div class="slds-text-longform">
      <ol>
        <li>A recent browser (Chrome or Firefox recommended)</li>
        <li><a href="https://nodejs.org/en/" target="_blank">Node.js</a> 4.2 or up</li>
      </ol>
    </div>

    <h2 class="slds-text-heading--medium slds-m-top--large">Nice to Have</h2>
     <div class="slds-text-longform">
      <ol>
        <li>A <a href="GitHub" target="_blank">GitHub</a> account</li>
        <li><a href="https://git-scm.com/" target="_blank">Git</a></li>
      </ol>
    </div>

    <h2 class="slds-text-heading--medium slds-m-top--large">Optional</h2>
     <div class="slds-text-longform">
      <ol>
        <li>An <a href="https://www.heroku.com/" target="_blank">Heroku</a> account (free)</li>
        <li><a href="https://github.com/salesforce-ux/design-system-ui-kit#salesforce-sans-fonts" target="_blank">Salesforce Sans fonts</a></li>
      </ol>
    </div>
    <hr />

    <h2 class="slds-text-heading--medium slds-m-top--large">What is the Design System Starter Kit?</h2>
    <p class="slds-text-body--regular slds-m-top--large">The starter kit is a rapid prototyping environment using the Salesforce Lightning Design System, HTML, and Sass. It’s built for designers, developers, and anyone who wants to build a prototype and dabbles in HTML.</p>
    <hr />

    <h2 class="slds-text-heading--medium slds-m-top--large">Get Started</h2>
    <p class="slds-text-body--regular slds-m-top--large">You’re going to download the starter kit, install dependencies, and run it locally.</p>
    <div class="slds-text-longform">
      <ol>
        <li>Fork the starter kit</li>
          <ol>
            <li>Go to https://git.io/starter-kit</li>
            <li>Click the “Fork” button</li>
          </ol>
        <li>In a terminal window, cd into the directory where you’d like to clone the repository (e.g. cd ~/Documents)</li>
        <li>Clone your fork (git clone https://github.com/[YOUR USERNAME]/design-system-starter-kit.git – or using the GUI of your choosing)</li>
        <li>Open the fork in a terminal (cd path/to/design-system-starter-kit)</li>
      </ol>
    </div>
    <p class="slds-text-body--regular slds-m-top--large">Then, follow the instructions below (also in the Quick Start section of the starter kit’s <a href="https://github.com/salesforce-ux/design-system-starter-kit/#README"> target="_blank">README</a> file)</p>

    <h2 class="slds-text-heading--medium slds-m-top--large">Run `npm install`</h2>
    <p class="slds-text-body--regular slds-m-top--large slds-m-bottom--small">Run `npm install` to install npm dependencies, which include the latest public version of the Lightning Design System itself. Depending on the speed of your connection, this may take up to a few minutes.</p>

    <h2 class="slds-text-heading--medium slds-m-top--large">Run `npm run dev`</h2>
    <p class="slds-text-body--regular slds-m-top--large slds-m-bottom--small">Run `npm run dev` to start a local development server.</p>
    <center>
      <img src="/assets/01.png" alt="How you terminal should look like when you run `npm run dev`." />
    </center>
    <p class="slds-text-body--regular slds-m-top--large slds-m-bottom--small">It will open `http://localhost:3000`, and you should see this something like this:</p>
    <center>
      <img src="/assets/02.png" alt="Localhost 3000 should open up automatically after running `npm run dev`." />
    </center>
    <p class="slds-text-body--regular slds-m-top--large slds-m-bottom--small">⚠️ Don’t have git installed on your machine? <a href="https://github.com/salesforce-ux/design-system-starter-kit/archive/master.zip" target="_blank">Download the project as a zip archive.</a> Note: You will only be able to run the starter kit locally.</p>
    <hr />

    <h2 class="slds-text-heading--medium slds-m-top--large">Get to know the starter kit</h2>
    <p class="slds-text-body--regular slds-m-top--large slds-m-bottom--small">Now you’ve installed the starter kit locally, let’s have a look at what’s inside. The kit’s file structure looks like this:</p>
    <dl class="slds-dl_horizontal">
      <dt class="slds-dl_horizontal__label">/src/assets/:</dt>
        <dd class="slds-dl_horizontal__detail">images, fonts</dd>
      <dt class="slds-dl_horizontal__label">/src/scripts/:</dt>
        <dd class="slds-dl_horizontal__detail">JavaScript files*</dd>
      <dt class="slds-dl_horizontal__label">/src/styles/:</dt>
        <dd class="slds-dl_horizontal__detail">stylesheets (built using Sass)</dd>
      <dt class="slds-dl_horizontal__label">/src/views/:</dt>
        <dd class="slds-dl_horizontal__detail">markup and data for your pages and templates</dd>
    </dl>
    <p class="slds-text-body--regular slds-m-top--large slds-m-bottom--small">* the Lightning Design System does not include any JavaScript, but the starter kit bundles a few basic interactions for the most common components (e.g. tabs, dropdowns).</p>
    <hr />

    <h2 class="slds-text-heading--medium slds-m-top--large">Let’s build our first page</h2>
    <p class="slds-text-body--regular slds-m-top--large slds-m-bottom--small">Included in the starter kit:</p>
    <dl class="slds-dl_horizontal">
      <dt class="slds-dl_horizontal__label">index.html:</dt>
        <dd class="slds-dl_horizontal__detail">the welcome screen</dd>
      <dt class="slds-dl_horizontal__label">example.html:</dt>
        <dd class="slds-dl_horizontal__detail">an example that showcases the possibilities offered by the starter kit</dd>
      <dt class="slds-dl_horizontal__label">blank.html:</dt>
        <dd class="slds-dl_horizontal__detail">a blank template ready to host your prototype!</dd>
      <dt class="slds-dl_horizontal__label">workshop.html:</dt>
        <dd class="slds-dl_horizontal__detail">a blank template ready to host your prototype!</dd>
      <dt class="slds-dl_horizontal__label">workshop-done.html:</dt>
        <dd class="slds-dl_horizontal__detail">what your prototype should look like when you’ve completed this workshop!</dd>
    </dl>
    <p class="slds-text-body--regular slds-m-top--large slds-m-bottom--small">The easiest way to throw a quick prototype together is to copy and paste ready-made components from the Lightning Design System website into blank.html.</p>
    <p class="slds-text-body--regular slds-m-top--large slds-m-bottom--small">Let’s copy-paste a related list component into blank.html:</p>
     <div class="slds-text-longform">
      <ol>
        <li>Go to <a href="https://www.lightningdesignsystem.com/" target="_blank">https://www.lightningdesignsystem.com/</a></li>
        <li>Search for “Related List With Table”</li>
        <li>Follow the first search result</li>
        <li>Copy the code (below the component itself)</li>
        <li>Paste it into blank.html, between `{ % block content % }` and `{ % endblock % }`</li>
      </ol>
    </div>
    <center>
      <img src="/assets/03.png" alt="Localhost 3000 should open up automatically after running `npm run dev`." />
    </center>
    <hr />

    <h2 class="slds-text-heading--medium slds-m-top--large">Designing in the Browser</h2>
    <p class="slds-text-body--regular slds-m-top--large slds-m-bottom--small">1. Live Reload: You may have seen it when you were adding a component to the markup: any change made to your prototype will display in the browser automatically, without you having to hit the “reload” button! Try for yourself:</p>
    <div class="slds-text-longform">
      <ol>
        <li>Open <a href="http://localhost:3000/blank.html" target="_blank">http://localhost:3000/blank.html</a></li>
        <li>In blank.html, find occurrences of Contacts (will truncate)</li>
        <li>Replace with Any text you want!</li>
        <li>Admire the page as it updates itself with the new text (see animation below)!</li>
      </ol>
    </div>
    <center>
      <img src="/assets/04.gif" alt="Adding Folder to Workspace." />
    </center>
    <p class="slds-text-body--regular slds-m-top--large slds-m-bottom--small">Feel free to add more components to the page and go crazy! You’ll see the results appear instantly in the browser. Oh… and one more thing: all browsers and devices connected to your local development environment will reload at the same time!</p>

    <p class="slds-text-body--regular slds-m-top--large slds-m-bottom--small">2. Directly from Chrome:</p>
    <div class="slds-text-longform">
      <ol>
        <li>Open <a href="http://localhost:3000/" target="_blank">http://localhost:3000/</a></li>
        <li>Inspect any element on the page (right click, inspect element), this will open the Chrome DevTools</li>
        <li>In DevTools, go to the `Sources` tab</li>
        <li>Right-Click anywhere in the left pane and select `Add Folder to Workspace`</li>
        <li>Find the `design-system-starter-kit` directory (where it was cloned)</li>
        <li>Click `Select`</li>
        <li>Click `Allow` to give the DevTools access to your drive</li>
      </ol>
    </div>
    <center>
      <img src="/assets/05.gif" alt="Editing in the browser." />
    </center>
    <p class="slds-text-body--regular slds-m-top--large slds-m-bottom--small">Congrats, you now have access to your directory structure from within Chrome!</p>

    <p class="slds-text-body--regular slds-m-top--large slds-m-bottom--small">3. Editing Pages in the Browser:</p>
    <center>
      <img src="/assets/06.gif" alt="Styling in the browser." />
    </center>

    <p class="slds-text-body--regular slds-m-top--large slds-m-bottom--small">4. Editing Styles in the Browser:</p>
    <center>
      <img src="/assets/07.gif" alt="Deploying to Heroku." />
    </center>
    <hr />

    <h2 class="slds-text-heading--medium slds-m-top--large">Deploying on Heroku</h2>
    <p class="slds-text-body--regular slds-m-top--large slds-m-bottom--small">You’ve pushed your work to your fork (git push origin master), and now it’s now time to share your prototype with the world!</p>
    <p class="slds-text-body--regular slds-m-top--large slds-m-bottom--small">Deploying your fork to Heroku is free and only takes 2 minutes.</p>
    <div class="slds-text-longform">
      <ol>
        <li>Head to your fork on GitHub</li>
        <li>Click the `Deploy to Heroku` button</li>
        <li>In DevTools, go to the `Sources` tab</li>
        <li>Submit the form (Deploy for Free button)</li>
        <li>Click the `View` button</li>
      </ol>
    </div>
    <p class="slds-text-body--regular slds-m-top--large slds-m-bottom--small">That’s it! You can now share the link with the rest of the world!</p>
    <hr />

    <h2 class="slds-text-heading--medium slds-m-top--large">Linking to GitHub</h2>
    <p class="slds-text-body--regular slds-m-top--large slds-m-bottom--small">Now that you’ve got your project deployed, what do you do with any changes thereafter?</p>
    <p class="slds-text-body--regular slds-m-top--large slds-m-bottom--small">Heroku has a really cool feature that integrates with GitHub and does automatic deployments of every pushed commit: <a href="https://devcenter.heroku.com/articles/github-integration" target="_blank">https://devcenter.heroku.com/articles/github-integration</a></p>
    <div class="slds-text-longform">
      <ol>
        <li>Go to `Manage App`</li>
        <li>`Deploy`</li>
        <li>`GitHub`</li>
        <li>`Connect to GitHub`</li>
        <li>Authorize if you need to</li>
        <li>Search `design-system-starter-kit and connect`</li>
        <li>Select `Enable Automatic Deploys`</li>
      </ol>
    </div>
    <p class="slds-text-body--regular slds-m-top--large slds-m-bottom--small">This means that every time you push a change, your application will be deployed.</p>
    <p class="slds-text-body--regular slds-m-top--large slds-m-bottom--small">So if you edit something and it gets committed and pushed to the master branch, a deploy hook will get triggered on Heroku and after a few minutes your application will automatically update!</p>
    <p class="slds-text-body--regular slds-m-top--large slds-m-bottom--small">Refresh and check! 😎</p>
    <p class="slds-text-body--regular slds-m-top--large slds-m-bottom--small">Weeee! 🎉</p>
    <hr />

    <h2 class="slds-text-heading--medium slds-m-top--large">Troubleshooting</h2>
    <p class="slds-text-body--regular slds-m-top--large slds-m-bottom--small">1. Issues with Git? Not familiar with the command line? Use GitHub Desktop instead! Here’s how to clone a repository using GitHub Desktop: https://help.github.com/desktop/guides/contributing/cloning-a-repository-from-github-desktop/</p>
    <p class="slds-text-body--regular slds-m-top--large slds-m-bottom--small">2. Permission denied (publickey)? This error happens when you’re trying to clone the repository:</p>
    <pre>
      Initialized empty Git repository in `/Users/username/Documents/design-system-starter-kit/.git/`
      Permission denied (publickey).
      fatal: The remote end hung up unexpectedly
    </pre>
    <p class="slds-text-body--regular slds-m-left--large slds-m-bottom--small">A “Permission denied” error means that the server rejected your connection. There could be several reasons why, and the most common examples are explained below.</p>
    <ol class="slds-m-left--large">
      <li><a href="https://help.github.com/articles/generating-an-ssh-key/" target="_blank">Follow these instructions to set up your SSH keys</a></li>
      <li><a href="https://help.github.com/articles/error-permission-denied-publickey/" target="_blank">Error: Permission denied (publickey) on GitHub’s help pages</a></li>
    </ol>
    <p class="slds-text-body--regular slds-m-top--large slds-m-bottom--small">3. Issues with Node.js and npm: If you’re encountering issues with Node.js modules, perform those actions in this order:</p>
    <p class="slds-text-body--regular slds-m-top--large slds-m-left--large slds-m-bottom--small">A. Verify that you’re running Node.js 4 or up.</p>
      <pre>
        node --version
        # v4.x.x
      </pre>
      <p class="slds-text-body--regular slds-m-top--large slds-m-left--large slds-m-bottom--small">B. Update npm:</p>
      <pre>
        npm install npm --global
      </pre>
      <p class="slds-text-body--regular slds-m-top--large slds-m-left--large slds-m-bottom--small">C. Re-install dependencies:</p>
      <pre>
        cd path/to/design-system-starter-kit
        npm cache clear
        rm -Rf node_modules
        npm install
      </pre>
    <p class="slds-text-body--regular slds-m-top--large slds-m-bottom--small">4. Other: Dropdowns and tabs don’t work in your browser? The bundled JavaScript only works in the most recent browsers.</p>
  </div>

  <script src="/scripts/app.js"></script>
  <script src="/scripts/vendor/svg4everybody.min.js"></script>
  <script>svg4everybody();</script>
</body>
</html>
